<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Изменение</title>
</head>
<body>
<form th:method="POST" th:action="@{'/transport/' + ${transport.id} + '/edit'}" th:object="${transport}">
    <label for="name">Название\</label>
    <label for="sizeSM">Адрес\</label>
    <label for="weightKG">Стаж</label>
    <label for="weight">Стаж</label>
    <input type="text" th:field="*{brand}" id="name" maxlength="100" required/>
    <input type="text" th:field="*{model}" id="sizeSM" maxlength="150" required/>
    <input type="text" th:field="*{statenumber}" id="weightKG" maxlength="40" required/>
    <input type="number" th:field="*{driver}" id="weight" max="999" min="0"/>
    <input type="submit" value="Обновить" class="btn btn-info">

</form>
<form th:method="get" th:action="@{'/transport'}" th:object="${transport}">
    <input type="submit" value="Назад" class="btn btn-info">
</form>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>